/*
* @Author: Administrator
* @Date:   2018-10-29 00:23:31
* @Last Modified by:   Administrator
* @Last Modified time: 2018-10-29 00:28:51
*/

.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color:#666;
	line-height: 30px;
}
.footer .links .link-normal{
	padding: 0 10px;
}
.copyright{
	text-align: center;
	color:#666;
	line-height: 30px;
}

