<div class="footer">
	<div class="w">
		<div class="links">
			<a class="link-normal" href="http://www.imooc.com" target="_blank">
				慕课网
			</a> |
			<a class="link-normal" href="https://www.taobao.com" target="_blank">
				淘宝网
			</a> |
			<a class="link-normal" href="https://www.baidu.com" target="_blank">
				百度网
			</a> |
			<a class="link-normal" href="http://www.zhihu.com" target="_blank">
				知乎网
			</a>
		</a>
		<p class="copyright">
			Copyright © 2018 happymmall.com All Right Reserved
		</p>
	</div>
</div>
<script src="https://code.jquery.com/jquery-1.11.0.js"
        integrity="sha256-zgND4db0iXaO7v4CLBIYHGoIIudWI5hRMQrPB20j0Qw="
        crossorigin="anonymous">
</script>