<div class="nav">
	<div class="w">
		<div class="user-info">
			<span class="user not-login">
				<span class="link-normal js-login">登录</span>
				<span class="link-normal js-register">注册</span>
			</span>
			<span class="user login">
					<i class="fa fa-user"></i>
				<span class="link-text">
					欢迎，
					<span class="username"></span>
				</span>
				<span class="hyperlink">退出</span>
			</span>
		</div>	
		<ul class="nav-list">
			<li class="nav-item">
				<a class="link-normal" href="./cart.html">
					<i class="fa fa-shopping-cart"></i>
					购物车(<span class="cart-cont">0</span>)
				</a>
			</li>
			<li class="nav-item">
				<a class="link-normal" href="./order-list.html">我的订单</a>
			</li>
			<li class="nav-item">
				<a class="link-normal" href="./user-center.html">我的MMALL</a>
			</li>
			<li class="nav-item">
				<a class="link-normal" href="./about.html">关于我们</a>
			</li>
		</ul>
	</div>
</div>