/*
* @Author: Administrator
* @Date:   2018-10-21 23:45:07
* @Last Modified by:   user
* @Last Modified time: 2018-10-31 23:38:56
*/

.nav-simple {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
}

.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #c60023;
    text-decoration: none;
}	