/*
* @Author: Administrator
* @Date:   2018-10-21 00:06:19
* @Last Modified by:   Administrator
* @Last Modified time: 2018-10-22 00:36:07
*/
/*
	clear style for different browser
*/
*{
	margin: 0;
	padding: 0;

}

body{
	background: #f6f6f6;
	font: 12px/1.5 tahoma, arial ,Microsoft YaHei, sans-serif;
}
li{
	list-style: none;
}
img{
	display: block;
	border: none;
}
label{
	cursor: pointer;
}
input[type='checkbox']{
	cursor: pointer;
}

/*fixed wide layout def*/
.w{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.large .w{
	width: 1600px;
}

/*global common css*/;
/*隐藏*/
.hide{
	display: none;
}
/* link*/;
.link{

}

.link-normal{
	color:#999;
	cursor: pointer;
	text-decoration: none;
}

.link-normal:hover{
	color: #e80012;
}

.link-text{
	color: #999;
	text-decoration: none;
}

/* button*/
.btn{
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	vertical-align: middle;
	background: #c60023;
	font-size: 17px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.btn-mini{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}

/* loading*/
.loading{
	margin: 10px auto;
	display: block;
	background: url(../../img/icon/loader.gif) no-repeat;
	width: 100px;
	height: 100px;
	border: 1px solid #ddd;
	border-radius: 10px;
	opacity: .6;
}